.link {
  border-radius: var(--mantine-radius-md);
  text-wrap: nowrap;
  flex-wrap: nowrap;

  &:hover {
    background-color: var(--custom-var-widget-paper-theme);
  }
}

.badge {
  flex: 0 0 auto;        
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    background-color: var(--mantine-primary-color-light-hover);
  }
}

.list {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 0;
  -webkit-overflow-scrolling: touch;
}